.mainNav{
    display: flex;
    background-color:#e3f2fd ;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.navPc{
    display: block;
}
.navMobile{
    display: none;
}

@media(max-width:990px){
    .navPc{
        display: none;
    }
    .navMobile{
        display: block;
    }
}